body {
    max-width: 80ch;
    font-family:sans-serif;
    margin:0 auto;
    line-height: 1.5;
    padding: 1em 2em;
    padding-bottom:100px;
    background-color:#292929;
    color:#8db2e5;
}

h1, h2, h3, h4, h5, h6, {
    margin-top:1em;
    margin-bottom:1em;
}

code, pre {
    background-color: #eee;
    vertical-align:text-bottom;
    padding: 1em;
    overflow-x:scroll;
}

a {
    color:#8db2e5;
}

a:visited {
    color:rgb(211, 138, 138);
}

ol {
    margin-top:0.5em;
    margin-bottom: 2em;
}
img {
    max-width:80ch;
}

video {
    height:100%;
    width:100%;
}

div {
    margin:10px 0px;
}

#command-center {
    position:fixed;
    top:50%;
    right:3%;
    transform:translateY(-50%);
}

#command-center input {
    width:300px;
    padding:5px;
    background-color:#292929;
    border:1px solid gray;
    color:white;
    margin-bottom:5px;
}

#command-center textarea{
    height:150px;
    width:300px;
    padding:5px;
    background-color:#292929;
    border:1px solid gray;
    color:white;
    font-family:sans-serif;
}
