body {
    max-width: 80ch;
    font-family:sans-serif;
    margin:0 auto;
    line-height: 1.5;
    padding: 1em 2em;
    padding-bottom:100px;
    background-color: rgb(36, 36, 36);
    color:white;
}

h1, h2, h3, h4, h5, h6, {
    margin-top:1em;
    margin-bottom:1em;
}

code, pre {
    background-color: #eee;
    vertical-align:text-bottom;
    padding: 1em;
    overflow-x:scroll;
}

ol {
    margin-top:0.5em;
    margin-bottom: 2em;
}
img {
    max-width:80ch;
}
video {
    height:100%;
    width:100%;
}
